{% extends '@EasyAdmin/content.html.twig' %}
{% form_theme form '@EasyAdmin/crud/form_theme.html.twig' %}

{% block main %}
    <div id="batch-action-container">
        <input type="hidden" id="selectedQrCodes" value="{{ selectedQrCodes }}" />
        <div class="form-wrapper">
            <a class="text-right d-block text-black" href="{{ ea_url()
                .setController('App\\Controller\\Admin\\QrCrudController')
                .setAction('index')
            }}">
            </a>

            {{ form_start(form) }}

            {# Design dropdown outside accordion #}
            {{ form_row(form.design) }}

            {# Advanced Settings Accordion #}
            <div class="accordion mb-2" id="settingsAccordion">
                <div class="accordion-item">
                    <h4 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#advancedSettings" aria-expanded="false"
                                aria-controls="advancedSettings">
                            Advanced Settings
                        </button>
                    </h4>
                    <div id="advancedSettings" class="accordion-collapse collapse"
                         data-bs-parent="#settingsAccordion">
                        <div class="accordion-body">
                            {# Render all remaining form fields except design and download #}
                            {% for field in form %}
                                {% if field.vars.name != 'design' and field.vars.name != 'download' %}
                                    {{ form_row(field) }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Download button outside accordion #}
            {{ form_row(form.download) }}

            {{ form_end(form) }}

            <div class="qr-preview">
                <div id="qrCodeContainer" data-generate-qr-path="{{ path('admin_generate_qr_codes') }}">
                    <ul class="nav nav-tabs" id="qrCodeTabs" role="tablist">
                    </ul>

                    <div class="tab-content mt-3" id="qrCodeTabContent">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
